#form {
  font-size: 13px;
  background-color: #fcf9f9;
  border: 0.3px solid #fff;
  color: #696969;
  border-radius: 4px;
  width: 170px;
  height: 40px;
}

#form:hover {
  border: 0.3px solid gray;
}

#input1 {
  margin-left: 30pt;
  margin-top: 100pt;
  width: 120pt;
  font-size: 1em;
  font-family: "Arial";
  color: #292727;
}

#input2 {
  margin-left: 30pt;
  margin-top: 10pt;
  width: 800pt;
  font-size: 0.8em;
  font-family: "Arial";
  color: #292727;
}

#input3 {
  margin-left: 30pt;
  margin-top: 10pt;
  width: 800pt;
  font-size: 0.8em;
  font-family: "Arial";
  color: #292727;
}
#input4 {
  margin-left: 30pt;
  margin-top: 10pt;
  width: 800pt;
  font-size: 0.8em;
  font-family: "Arial";
  color: #292727;
}
#input5 {
  margin-left: 30pt;
  margin-top: 10pt;
  width: 800pt;
  font-size: 0.8em;
  font-family: "Arial";
  color: #292727;
}

#imput6 {
  width: 430pt;
  height: 18pt;
  margin-left: 80pt;
  border: 0.3px solid rgb(12, 12, 12);
}

#imput6:hover {
  border: 0.3px solid rgb(96, 184, 224);
}

input {
  outline: 0 !important;
  width: 90px;
  height: 25px;
}

#imput7 {
  width: 430pt;
  height: 18pt;
  margin-left: 28pt;
  border: 0.3px solid rgb(12, 12, 12);
}

#imput7:hover {
  border: 0.3px solid rgb(96, 184, 224);
}

#imput8 {
  width: 430pt;
  height: 18pt;
  margin-left: 47pt;
  border: 0.3px solid rgb(12, 12, 12);
}

#imput8:hover {
  border: 0.3px solid rgb(96, 184, 224);
}

#imput9 {
  width: 430pt;
  height: 18pt;
  margin-left: 58pt;
  border: 0.3px solid rgb(12, 12, 12);
}

#imput9:hover {
  border: 0.3px solid rgb(96, 184, 224);
}

#uyu {
  margin-left: 500pt;
}

#tap {
  background-color: #4285f4;
  color: #fff;
  border: 0px solid rgb(12, 12, 12);
  width: 100pt;
  height: 23pt;
  border-radius: 3px;
  font-family: "Arial";
  font-size: 0.7em;
  font-weight: bold;
}

#tap:hover {
  border: 0.3px solid rgb(61, 63, 65);
}
